@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --primeiro-botao: #EBA7AA;
    --segundo-botao: #A01CEB;
    --terceira-botao: #9D7DF0;
    --cor-de-fundo: #f192e9;
    --quarto-botao: #EB549A;
    --cor-borda: #FF73F1;

}
 body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'chakra petch', 'Sans-Serif' ;
 }   
.conteudo-principal{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

}   
.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}
.titulo-principal span{
    color:var(--segundo-botao)
}
.botao{
    font-family: 'chakra Petch', 'sans-serif';
    background-color:var(--segundo-botao);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--cor-borda);
    border-left: 2px solid var(--cor-borda);
    border-right: 2px solid var(--cor-borda);
    border-top: none;
}
.botao:first-child{
    border-radius: 40px 40px 0 0;
}
@media screen and (min-width: 768px){
    .botao{
        display: flex;
    }
}
